<h2>Welcome to CS 462 Foursquare!</h2>
<p>Here you can register, authorize this site to access your Foursquare data via OAuth, and view the most recent checkins of everyone on this site.</p>
<p>Click the <i>Users</i> link to see a list of all registered users, or click <i>Login</i> to sign in or register.</p>
