<div class="row" ng-init="loadData()">
    <div class="col-md-4">
        <h3>Personal Info</h3>
        <ul>
            <li><b>Name:</b> {{ user.name }}</li>
            <li><b>UID:</b> {{ user.id }}</li>
            <li><b>Foursquare Access Token:</b> {{ user.access_token_trimmed }}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Checkin History</h3>
        <ul>
            <li ng-repeat="c in user.checkins">
                <b>{{ c.venue.name }}</b> - {{ c.createdAt * 1000 | date:'MM/dd/yyyy @ h:mma' }}<br/>
                <i ng-show="c.shout">"{{ c.shout }}"</i>
            </li>
        </ul>
    </div>
    <div class="col-md-4" ng-controller="FoursquareController" ng-init="authorizeUrl()">
        <h3>Foursquare Authorization</h3>
        <a ng-show="!user.access_token" ng-href="{{ authUrl }}">
            <button class="btn btn-success">Authorize Foursquare</button>
        </a>
        <h4 ng-show="user.access_token">Foursquare has been authorized.</h4>
    </div>
</div>