<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>Signup</h3>
        <div class="alert alert-danger" ng-show="message">{{ message }}</div>
        <form accept-charset="UTF-8" role="form" ng-submit="signup()">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" placeholder="Username" ng-model="username" type="text" required>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" ng-model="password" type="password" value="" required>
                </div>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Signup">
            </fieldset>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
