<div class="row" ng-init="loadData()">
    <div class="col-md-4">
        <h3>Personal Info</h3>
        <ul>
            <li><b>Name:</b> {{ user.name }}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Last Checkin</h3>
        <ul>
            <li>
                {{ user.checkin.name }}
            </li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>