<div class="row">
    <h2>User List</h2>
    <p>Here you can see all the registerd users. Click any one of them to see their most recent Foursquare checkin.</p>
    <h3>Registered Users</h3>
    <ul ng-init="findAll()">
        <li ng-repeat="u in users">
            <a ng-href="/user/{{ u.name }}">{{ u.name }}</a>
        </li>
    </ul>
</div>
