<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CS 462 Foursquare</title>
    <base href="/">

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/UserController.js"></script>
    <script src="js/controllers/ProfileController.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/FoursquareController.js"></script>
</head>

<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CS 462 Foursquare</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/user-list">Users</a>
                    </li>
                    <li>
                        <a href="/profile">My Profile</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" ng-controller="LoginController" ng-init="loggedIn()">
                    <a ng-href="/login" ng-hide="isLoggedIn">
                        <button class="btn btn-primary">Login</button>
                    </a>
                    <a ng-show="isLoggedIn">
                        <button class="btn btn-warning" ng-click="logout()">Logout ({{ isLoggedIn.name }})</button>
                    </a>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="jumbotron"></div>
    <div class="container">
        <div class="row">
            <div ng-view></div>
        </div>
        <hr>
        <footer>
            <p>© Ben Draut 2014</p>
        </footer>
    </div>

</body>

</html>
