<form class="navbar-form navbar-right">
    <a ng-show="loggedIn()" href="/login">
        <button class="btn btn-primary">Login</button>
    </a>
    <a ng-show="!loggedIn()" href="/logout">
        <button class="btn btn-warning">Logout ({{ currentUser }})</button>
    </a>
</form>
